<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if(orders.length <= 0) { %>
                <h1>No orders yet!</h1>
           <% } else { %> 
           <ul class="orders">
              <% orders.forEach(order => { %>
                <li class="order__item">
                    <h1># <%= order._id %></h1>
                    <a href="/orders/<%= order._id %>">Invoice</a>
                    <ul class="orders__products">
                        <% order.products.forEach(p => { %>
                            <li class="orders__products-item">
                                <%= p.product.title %> (<%= p.quantity %>)
                            </li>
                       <% }); %>
                     
                    </ul>
                </li>
             <% }); %>
            <h4> Total: <%= total %></h4>
           </ul> <% } %>
         
        </main>
        <%- include('../includes/end.ejs') %>